@import url('https://fonts.googleapis.com/css2?family=Amita&family=Caveat&family=Kanit&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,700&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600&family=Rouge+Script&display=swap');

@import "_variables";
@import "_components";
@import "_navbar";
@import "_header" ;
@import "_events" ;
@import "_explore" ;
@import "_tours" ;
@import "_footer" ;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



body {
    background-color: $body-color;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.menu-btn {
    display: none;
}




// kullanmak istersen linear-gradient(to right, rgba(255,0,0,0), #ef3b36);